@model System.Collections.Generic.IEnumerable<DangJian.ViewModels.QuotaRecordVM>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td style="width:700px;">@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.ActionLink(item.FillInfo, "Fill", new { QuotaCode = item.QuotaCode })</td>
        </tr>
    }
</table>