@model System.Collections.Generic.IEnumerable<DangJian.ViewModels.QuotaRecordVM>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td style="width:700px;">@Html.DisplayFor(modelItem => item.Description)</td>
            <td style="width:60px;">
                @if(item.IsNeed)
                {
                    <a href="#" onclick="javascript:Fill('@item.QuotaCode')">@item.FillInfo</a>
                }else{
                    <span>无需填报</span>
                }
            </td>
        </tr>
    }
</table>