@{
    ViewBag.Title = "首页";
}

<div style="float:left; width:600px;"></div>
<div style="float:right; width:350px;">
    <input type="button" value="预 警 中 心" style="width:100%" />
    <table class="table">
        <tr>
            <td style="width:20px;">序号</td>
            <td style="width:250px;">部门</td>
            <td style="width:20px;">应填</td>
            <td style="width:20px;">已填</td>
            <td style="width:20px;">未填</td>
            <td style="width:20px;">预警</td>
        </tr>
    </table>
</div>
